@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

body {
  padding-top: 0;
}

.sidebar {
  top: 0;
}

/* Login form */

#login-form-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
  z-index: 1000;
  background: url(../img/rodan-background.jpg) no-repeat center center;
  background-size: cover;
}

#login-form {
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 40px;
  @include prefix(border-radius, 10px);
  border: 1px solid #d7d7d7;
  @include prefix(animation, fadein 1s);
}

@include keyframes(fadein) {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#login-form img {
  width: 450px;
  margin-bottom: 30px;
  display: block;
}

#login-form .form-control {
  display: inline;
  max-width: 22.12em;
  position: relative;
  height: auto;
  @include prefix(box-sizing, border-box);
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

#login-form .form-control:focus {
  z-index: 1001;
}

#login-form label {
  font-size: 16px;
  font-weight: normal;
  color: #888;
  width: 6em;
}

#login-form input[type=button] {
  padding: 10px;
  font-size: 16px;
}

/* Projects list */
table.projects td {
  cursor: pointer;
}
