<h2 class="sub-header">Projects</h2>
<a href="#" id="new-project" class="btn btn-primary">New Project</a>
<a href="#" id="edit-projects" class="btn btn-primary">Edit Projects</a>
<div class="table-responsive">
    <table class="projects table table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Created</th>
            <th>Workflows</th>
            <th>Resources</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>